VS_DEBUG=true
VS_REDIS_URL=redis://localhost:6379/0
VS_USE_S3=false
VS_S3_ENDPOINT=http://localhost:9000
VS_S3_ACCESS_KEY=minioadmin
VS_S3_SECRET_KEY=minioadmin
VS_S3_BUCKET=videoshelf
VS_MAX_UPLOAD_SIZE_MB=2048
